{% extends 'exevada/base.html' %}
{% load leaflet_tags %}
{% load CL_display %}
{% load static %}
{% block extra_header %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block navbar_collapse_nav %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/events">
            Events
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/attributions">
            Attribution Studies
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link catalog-navigation" href="#" id="dropdowndatasets" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Datasets
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdowndatasets">
            <a class="dropdown-item" href="/obsdata">Observation data</a>
            <a class="dropdown-item" href="/moddata">Model simulations</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin">
            Admin
            <span class="sr-only">(current)</span>
        </a>
    </li>
</ul>
<form class="form-inline my-2 my-md-0">
    <input class="form-control" type="text" placeholder="Search">
</form>
{% endblock %}
{% block container %}
<h1 class="entry-title">{{event.name}} event description</h1>
<div class="pt-5">
</div>
    <dl class="row">
        <div class="col-sm-6">
            <div class="alert alert-secondary entry-content" role="alert">
                <h2>Event definition</h2>
                    <dl class="row">
                    <dt class="col-sm-4">
                        <div class="float-right">Region:</div>
                    </dt>
                    <dd class="col-sm-8">{{event.region}}</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        <div class="float-right">Event time:</div>
                    </dt>
                    <dd class="col-sm-8">Starting {{event.start_date}}, lasting {{event.duration}} days (season: {{event.season}})</dd>        
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        <div class="float-right">Remarks:</div>
                    </dt>
                    <dd class="col-sm-8">{{event.comments}}</dd>
                </dl>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="alert alert-secondary entry-content" role="alert">                
                <h2>Impact</h2>
                <dl class="row">
                    <dt class="col-sm-4">
                        <div class="float-right">Casualties:</div>
                    </dt>
                    {% if event.deaths != None %}
                    <dd class="col-sm-8">{{event.deaths}}</dd>
                    {% else %}
                    <dd class="col-sm-8">unknown</dd>
                    {% endif %}
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        <div class="float-right">Affected:</div>
                    </dt>
                    {% if event.people_affected != None %}
                    <dd class="col-sm-8">{{event.people_affected}}</dd>
                    {% else %}
                    <dd class="col-sm-8">unknown</dd>
                    {% endif %}
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        <div class="float-right">Economic loss:</div>
                    </dt>
                    {% if event.economical_loss != None %}
                    <dd class="col-sm-8">{{event.economical_loss}} million euro</dd>
                    {% else %}
                    <dd class="col-sm-8">unknown</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </dl>
    {% if event.image %}
    <div class="container-fluid px-0">
        <dl class="row">
            <div class="col-md-12">
                <img src="{{event.image.url}}" width="100%" class="img-responsive" alt="{{event.image_caption}}">
            <br/>
            <small>{{event.image_caption}}</small>
            </div>img
        </dl>
    </div>
    {% endif %}
    <div class="entry-content">
        <h2>Attribution studies</h2>
    </div>
    <div id="accordion">
        {% for attribution in event.attributions.all %}
        <div class="card" id="{{attribution.description}}">
          <div class="card-header" id="heading"{{ forloop.counter }}>
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse"{{ forloop.counter }} aria-expanded="true" aria-controls="collapse"{{ forloop.counter }}>
                {{attribution.description}}
              </button>
            </h5>
          </div>
          <div id="collapse"{{ forloop.counter }} class="collapse show" aria-labelledby="heading"{{ forloop.counter }} data-parent="#accordion">
            <div class="card-body entry-content">
                <h3>Analysis</h3>
                    <dl class="row">
                        <dt class="col-sm-3">Location:</dt>
                        <dd class="col-sm-9">{{attribution.location.name}}: {{attribution.location.description}}
                        <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Show</button>
                            <!-- Modal -->
                            <div id="myModal" href='#myModal' class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{attribution.location.name}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{attribution.location.description}}</p>
                                        <script>
                                            function map_init_basic (map, options) {
                                                $('#myModal').on('shown.bs.modal', function(){
                                                    setTimeout(function() {
                                                    map.invalidateSize();
                                                    }, 1);
                                                })
                                                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', maxZoom=2).addTo(map);
                                                var geometry='{{attribution.location.area.geojson | safe}}';
                                                var poly=JSON.parse(geometry);
                                                jsonLayer = L.geoJson(poly).addTo(map);
                                                map.fitBounds(jsonLayer.getBounds());
                                                map.zoomOut(10);
                                            }
                                        </script>                                  
                                    
                                        <div>
                                        {% leaflet_map "yourmap" callback="window.map_init_basic" %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </dd>
                        <dt class="col-sm-3">Statistical method:</dt>
                        <dd class="col-sm-9">{{attribution.variable}} fitted with {{attribution.distribution}} distribution. {{attribution.statistical_method.description}}</dd>
                    </dl>
                    <h3>Results</h3>
                    <table id="evttable" class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width: 20%">dataset</th>
                            <th scope="col"></th>
                            <th scope="col">timespan</th>
                            {% if attribution.statistical_method.dispersion_fit %}
                            <th scope="col">&sigma;/&mu;</th>
                            {% else %}
                            <th scope="col">&sigma; [{{attribution.variable.unit_symbol}}]</th>
                            {% endif %}
                            <th scope="col">&xi;</th>
                            <th scope="col">PR</th>
                            <th scope="col">&Delta;I [{{attribution.variable.delta_I_unit_symbol}}]</th>
                            <th scope="col">T<sub>ret</sub> [yr]</th>
                        </tr>
                    </thead>
                    <tr>
                        <td colspan=1 style="color:gray; font-weight: bold;"></td>
                        <td colspan=1 style="color:gray; font-weight: bold;">value [{{attribution.variable.unit_symbol}}]</td>
                        <td colspan=6 class="text-center" style="color:gray; font-weight: bold;">observations</td>
                    </tr>
                    {% for analysis in attribution.observations.all %}
                    <tr>
                        <td><a href=/obsdata/#{{analysis.dataset.name}}">{{analysis.dataset.name}}</a></td>
                        <td>{{analysis.variable_value}}</td>
                        <td>{{analysis.y_past}}-{{analysis.y_pres}}</td>
                        <td>{{analysis.sigma}}<br>({{analysis.sigma_min|lower_bnd}} ... {{analysis.sigma_max|upper_bnd}})</td>
                        <td>{{analysis.xi}}<br>({{analysis.xi_min|lower_bnd}} ... {{analysis.xi_max|upper_bnd}})</td>
                        <td>{{analysis.PR}}<br>({{analysis.PR_min|lower_bnd}} ... {{analysis.PR_max|upper_bnd}})</sub></span></td>
                        <td>{{analysis.Delta_I}}<br>({{analysis.Delta_I_min|lower_bnd}} ... {{analysis.Delta_I_max|upper_bnd}})</sub></span></td>
                        <td>{{analysis.T_return}}<br>({{analysis.T_return_min|lower_bnd}} ... {{analysis.T_return_max|upper_bnd}})</td>
                    </tr>
                    {% endfor %}    
                    <tr>
                        <td colspan=2 style="color:gray; font-weight: bold;"></td>
                        <td colspan=6 class="text-center" style="color:gray; font-weight: bold;">model evaluation</td>
                    </tr>
                    {% for analysis in attribution.models.all %}
                    <tr>
                        <td><a href=/moddata#{{analysis.dataset.model_name}}{{analysis.dataset.experiment}}">{{analysis.dataset.model_name}} {{analysis.dataset.experiment}}</a></td>
                        <td></td>
                        {% if analysis.y_past %}
                        {% if analysis.y_pres %}
                        <td>{{analysis.y_past}}-{{analysis.y_pres}}</td>
                        {% else %}
                        <td>{{analysis.y_past}} stationary</td>
                        {% endif %}
                        {% else %}
                        {% if analysis.y_pres %}
                        <td>preind-{{analysis.y_pres}}</td>
                        {% else %}
                        <td>stationary</td>
                        {% endif %}
                        {% endif %}
                        <td>{{analysis.sigma}}<br>({{analysis.sigma_min|lower_bnd}} ... {{analysis.sigma_max|upper_bnd}})</td>
                        <td>{{analysis.xi}}<br>({{analysis.xi_min|lower_bnd}} ... {{analysis.xi_max|upper_bnd}})</td>
                        <td>{{analysis.PR}}<br>({{analysis.PR_min|lower_bnd}} ... {{analysis.PR_max|upper_bnd}})</sub></span></td>
                        <td>{{analysis.Delta_I}}<br>({{analysis.Delta_I_min|lower_bnd}} ... {{analysis.Delta_I_max|upper_bnd}})</sub></span></td>
                        <td>{{attribution.return_period}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan=2></td>
                        <td colspan=6 class="text-center"  style="color:gray; font-weight: bold;">synthesis</td>
                    </tr>
                    <tr>
                        <td colspan=5></td>
                        <td>{{attribution.PR}}<br>({{attribution.PR_min|lower_bnd}} ... {{attribution.PR_max|upper_bnd}})</td>
                        <td>{{attribution.Delta_I}}<br>({{attribution.Delta_I_min|lower_bnd}} ... {{attribution.Delta_I_max|upper_bnd}})</sub></span></td>
                        <td>{{attribution.return_period}}</td>
                    </tr>
                </table>
                <h3>Conclusion</h3>
                    <p>{{attribution.conclusions}}</p>
                {% if attribution.journalpapers.ll %}
                <h3>Publications</h3>
                    {% for paper in attribution.journalpapers.all %}
                        <p>
                            {{paper.authors}}, {{paper.title}}, {{paper.journal}}, {{paper.issue}} ({{paper.date|date:"M Y"}})
                            {% if paper.url and paper.url.strip %}
                                , <a href={{paper.url}}>{{paper.url}}</a>
                            {% endif %}
                            {% if paper.doi and paper.doi.strip %}
                                , doi:{{paper.doi}}
                            {% endif %}
                        </p>
                    {% endfor %}
                {% endif %}
                {% if attribution.press_releases.all %}
                <h3>Media coverage</h3>
                    {% for press_release in attribution.press_releases.all %}
                        <p>
                            {{press_release.authors}}, {{press_release.title}}, {{press_release.medium}} ({{press_release.date|date:"M Y"}})
                            {% if press_release.url and press_release.url.strip %}
                                , <a href={{press_release.url}}>{{press_release.url}}</a>
                            {% endif %}
                            {% if press_release.doi and press_release.doi.strip %}
                                , doi:{{press_release.doi}}
                            {% endif %}
                        </p>
                    {% endfor %}
                {% endif %}
                <dl class="row">
                    <dd class="col-sm-10">For further information, contact {{attribution.contact}} or visit <a href={{attribution.webpage}}>{{attribution.webpage}}</a></dd>
                </dl>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}