{% extends 'exevada/base.html' %}
{% block navbar_collapse_nav %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/events">
            Events
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/attributions">
            Attribution Studies
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link catalog-navigation" href="#" id="dropdowndatasets" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Datasets
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdowndatasets">
            <a class="dropdown-item" href="/obsdata">Observation data</a>
            <a class="dropdown-item" href="/moddata">Model simulations</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin">
            Admin
            <span class="sr-only">(current)</span>
        </a>
    </li>    
    <script th:inline="javascript">
        $(document).ready(function(){
            $(".dropdown-toggle").dropdown();
        });
    </script>
        <script th:inline="javascript">
            $('#buttonsearch').click(function(){
                    $('#formsearch').slideToggle( "fast",function(){
                         $( '#content' ).toggleClass( "moremargin" );
                    } );
                    $('#searchbox').focus()
                    $('.openclosesearch').toggle();
            });    
    </script>
</ul>
<form class="form-inline my-2 my-md-0">
    <input class="form-control" type="text" placeholder="Search">
</form>
{% endblock %}
{% block container %}
<h1 class="entry-title">Extreme event attribution catalogue</h1>
<article id="post-85" class="post-85 page type-page status-publish has-post-thumbnail hentry">
	<div class="entry-content">
		<p>Our catalogue lists analyses of extreme events by the C3S prototype attribution service, and other attribution groups. The database contains detailed information on the events and their impacts, as well as numerical results of the statistical analyses the attribution statements are based on.
            <ul>
                <li>For analysed extreme events, go to the interactive <a href="/events">events page.</a></li> 
                <li>See the <a href="/attributions">attribution page</a> for an overview of the attribution studies.</li>
                <li>References to the <a href="/obsdata">observation time series</a> and <a href="/moddata">climate model datasets</a> used by the attribution studies.</li>
            </ul>
            </p>
	</div>

	
</article>
<div class="entry-content">
    
</div>
</div>

{% endblock %}